/* HEADER */

$font-color: #fff;
$font-family: "Helvetica", "Arial", "Lucida Grande", sans-serif;
$masthead-color1: #424242;
$masthead-color2: #27ae60;

#logo-bar {
    width: 100%;
    height: 50px;
    background-color: $masthead-color2;

    img {
      padding-left: 1%;
      height: 100%;
      z-index: 100;
    }
}

#masthead {
  width: 100%;
  height: 250px;
  background-color: $masthead-color1;
  position: relative;

  img {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    @media (max-width: 750px) {
      width: 90%;
    }
  }
}

#nav-bar {
  width: 100%;
  height: 50px;
  background-color: $masthead-color2;
  font-weight: bold;

  @media (max-width: 600px) {
    height: 150px;
  }

  ul {
    margin: 0 auto;
    list-style: none;
    text-align: center;
    padding-left: 0;
    padding-right: 0;

    li {
      display: inline;
      position: relative;
      padding-left: 5%;
      padding-right: 5%;
      line-height: 50px;

      @media (max-width: 600px) {
        display: block;
      }

      a {
        text-decoration: none;
        font-family: $font-family;
        color: #fff;

        &:hover {
          color: #424242;
          @include transition-duration(.5s);
        }
      }
    }

    .selected {
      color: #424242;
    }
  }
}
